VITE_API_TOKEN = 81916554-9568-4e51-b335-5010700bdb1f # you can set any token here
VITE_URL = https://cloud.mydomain.com # adjust this to your domain
VITE_PRIVATE_STORAGE_PATH = ./storage 
VITE_PUBLIC_STORAGE_PATH = ./public