VITE_API_TOKEN = 81916554-9568-4e51-b335-5010700bdb1f # you can set any token here
VITE_URL = http://localhost:4014 # you can set port in vite.config.ts
VITE_PRIVATE_STORAGE_PATH = ./static/storage # for local development
VITE_PUBLIC_STORAGE_PATH = ./static/public # for local development